apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpc-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: grpc-server
  template:
    metadata:
      labels:
        app: grpc-server
    spec:
      containers:
        - name: grpc-server
          image: us-central1-docker.pkg.dev/grpc-course-487620/grpc-server/grpc-server:v5
          ports:
            - containerPort: 50051
---
apiVersion: v1
kind: Service
metadata:
  name: grpc-server
  annotations:
    cloud.google.com/app-protocols: '{"grpc-port": "HTTP2"}'
spec:
  type: LoadBalancer
  ports:
    - name: grpc-port
      port: 50051
      targetPort: 50051
      protocol: TCP
  selector:
    app: grpc-server
