apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
spec:
  replicas: 2
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
        - name: service-b
          image: us-central1-docker.pkg.dev/grpc-course-487620/grpc-repo/service-b:v1
          ports:
            - containerPort: 50051
          env:
            - name: SERVICE_C_ADDR
              value: service-c:50051
---
apiVersion: v1
kind: Service
metadata:
  name: service-b
spec:
  selector:
    app: service-b
  ports:
    - port: 50051
      targetPort: 50051
