apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
spec:
  replicas: 2
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
        - name: service-a
          image: us-central1-docker.pkg.dev/grpc-course-487620/grpc-repo/service-a:v1
          ports:
            - containerPort: 50051 # gRPC
            - containerPort: 8080 # HTTP
          env:
            - name: SERVICE_B_ADDR
              value: service-b:50051
---
apiVersion: v1
kind: Service
metadata:
  name: service-a
  annotations:
    cloud.google.com/app-protocols: '{"grpc-port": "HTTP2"}'
spec:
  type: LoadBalancer
  selector:
    app: service-a
  ports:
    - name: grpc
      port: 50051
      targetPort: 50051
    - name: http
      port: 8080
      targetPort: 8080
